{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ partial "pageTitle.html" . }}

{{ "<!-- product -->" | safeHTML }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="post-content mb-5">
          {{ .Content }}
        </div>
      </div>
      <div class="row img-fluid col-lg-6">
        {{ range .Data.Pages }}
        {{ .Render "product" }}
        {{ end }}

        {{ if .Params.Image2 }}
        <img src=" {{ .Params.Image2 | absURL }} ">
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ "<!-- /product -->" | safeHTML }}

{{ end }}
