{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ partial "pageTitle.html" . }}

{{ "<!-- product -->" | safeHTML }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6" style="padding-right: 40px;">
        <div class="post-content mb-5">
          {{ .Content }}
        </div>
      </div>
      <div class="row filtr-container col-lg-6">
        {{ range .Data.Pages }}
        {{ .Render "product" }}
        {{ end }}

        <img src=“{{ .Params.Image2 | absURL }}”>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /product -->" | safeHTML }}

{{ end }}
