{{ define "main" }}

{{ partial "pageTitle.html" . }}

{{ "<!-- product single -->" | safeHTML }}
<section class="section">
	<div class="container">
		<div class="row">
			<aside class="col-lg-4 order-lg-1 order-2">
				{{ "<!-- overview -->" | safeHTML }}
				<div class="p-4 rounded border mb-50">
					<h4 class="text-color mb-20">{{ i18n "overview" }}</h4>
					<ul class="pl-0 mb-20">
						<li class="py-3 border-bottom"><span class="d-inline-block" style="width: 140px;">{{ i18n "product_name" }}:</span><span class="rightdets">{{ .Title }}</span></li>
						{{ if .Params.weight }}
						<li class="py-3 border-bottom"><span class="d-inline-block" style="width: 140px;">Peso:</span><span class="rightdets">{{ .Params.weight }}g</span></li>
						{{ end }}
						{{ if .Params.Category }}
						<li class="py-3 border-bottom"><span class="d-inline-block" style="width: 140px;">Categoría:</span><span class="rightdets">{{ index (.Params.Category) 0 }}</span></li>
						{{ end }}
						{{ if .Params.Price }}
						<li class="py-3 border-bottom"><span class="d-inline-block" style="width: 140px;">Precio:</span><span class="rightdets">{{ lang.NumFmt 2 .Params.Price }}€</span></li>
						{{ end }}
					</ul>
					<!-- Product available in stock ? -->
	{{if not .Params.stock }}
		<b>No hay en stock</b><br>
			{{ else }}
			 <b>En Stock</b><br>
				<button class="snipcart-add-item btn btn-primary btn-small mt-5"
					data-item-id="{{ .Title | urlize }}__{{ .Params.Price }}"
					data-item-name="{{ .Title }}"
					data-item-price="{{ .Params.Price }}"
					data-item-url="{{ .Permalink }}"
					data-item-weight="{{ .Params.productWeight }}"
					data-item-description="{{ .Params.Description | markdownify }}"
					{{ if .Params.Colors }}
					data-item-custom1-name="Choose Color"
					data-item-custom1-options="{{ range $index, $element:= .Params.Colors }}{{ if eq $index 0 }}{{ . | title }}{{ else }}|{{ . | title }}{{ end }}{{ end }}"
					{{ end }}
					{{ if .Params.Sizes }}
					data-item-custom2-name="Choose Size"
					data-item-custom2-options="{{ range $index, $element:= .Params.Sizes }}{{ if eq $index 0 }}{{ . | title | upper }}{{ else }}|{{ . | title | upper }}{{ end }}{{ end }}"
					{{ end }}>
					{{ i18n "addcart" }}
				</button>
			{{ end }}
				</div>
			</aside>
			{{ "<!-- product content -->" | safeHTML }}
			<div class="col-lg-8 order-lg-2 order-1">
				<img class="img-fluid w-100 mb-20" src="{{ .Params.Image | absURL }}" alt="product image">
				<div class="product-content">


					{{ .Content }}
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section">
	{{ partial "related.html" . }}
</section>

{{ "<!-- /product single -->" | safeHTML }}

{{ end }}
