{{ "<!-- product item -->" | safeHTML }}
<div class="col-lg-3 col-md-4 col-6 filtr-item product0" data-category="{{ .Params.Category | urlize }}">
  <div class="position-relative">
    <a href="{{ .Permalink }}" class="h4 smallprod"><img class="img-fluid w-100" src="{{ .Params.Thumb | absURL }}" alt="product-image"></a>
    <div class="product-info2">
      <a href="{{ .Permalink }}" class="h4 smallprod">{{ .Title }}</a>
      <p>{{ if .Params.price}}{{ .Params.price | humanize }}€{{ end }}</p>
    </div>
  </div>
</div>
