{{ "<!-- contact -->" | safeHTML }}
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 offset-lg-1 col-md-5">
				<h2 class="section-title">{{ i18n "contact_us" }}</h2>
				<ul class="pl-0">
					{{ "<!-- contact items -->" | safeHTML }}
					{{ range .Site.Params.contacts }}
					<li class="d-flex mb-30">
						<i class="round-icon mr-3 {{ .icon }}"></i>
						<div class="align-self-center font-primary">
							{{ range .contact }}
							<div class="text-dark"><a href="{{ .contact_link | safeHTML }}" target="_blank">{{ .contact_item | safeHTML }}</a></div>
							{{ end }}
						</div>
					</li>
					{{ end }}
				</ul>
			</div>
			{{ "<!-- form -->" | safeHTML }}
			<div class="col-lg-6 col-md-7">
				<h2 class="section-title">Our Company</h2>
				<div class="p-1" style="margin-bottom: 20px;">
					We believe that plumbing is more than just showing up and doing the job, we make sure that our customers get great communication, a plumber who cleans up after himself and a job that lasts (and we know because we follow up). This means that if we call you and our work isn't up to expectations, we'll come back and make it right.
				</div>

				<div class="p-5 rounded box-shadow">
					<form action="https://formspree.io/xnqgooka" method="POST" class="row">
						<div class="col-lg-12">
							<h3 class="mb-4">{{ i18n "contact_form" }}</h3>
						</div>
						<div class="col-lg-6">
							<input type="text" name="name" id="name" class="form-control" placeholder="Number" required>
						</div>
						<div class="col-lg-6">
							<input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
						</div>
						<div class="col-lg-12">
							<input type="text" name="subject" id="subject" class="form-control" placeholder="Subject" required>
						</div>
						<div class="col-lg-12">
							<textarea class="form-control p-2" name="message" id="message" placeholder="Message..." required
								style="height: 150px;"></textarea>
						</div>
						<div class="col-lg-12">
							<button class="btn btn-primary" type="submit">{{ i18n "submit" }}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{{ "<!-- /contact -->" | safeHTML }}
