{{ "<!-- footer -->" | safeHTML }}
<footer class="bg-primary">
	<div class="py-100 border-bottom" style="border-color: #bbb !important; padding-bottom: 70px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<div class="mb-5 mb-md-0 text-center text-md-left">
						{{ "<!-- logo -->" | safeHTML }}
						<img class="mb-30" src="{{ .Site.Params.logo | absURL }}" alt="logo">
						{{ with .Site.Params.footer.content }} <p class="text mb-30"> {{ . | markdownify }}</p> {{ end }}
						{{ "<!-- social icon -->" | safeHTML }}
						<ul class="list-inline">
							{{ range .Site.Params.social }}
							<li class="list-inline-item">
								<a class="social-icon-outline" href="{{ .link | safeURL }}">
									<i class="{{ .icon }}"></i>
								</a>
							</li>
							{{ end }}
						</ul>
					</div>
				</div>
				{{ "<!-- footer links -->" | safeHTML }}
				<div class="col-lg-2 col-md-4 col-6">
					<h4 class="text mb-4">{{ i18n "quick_links" }}</h4>
					<ul class="footer-links">
						{{ range .Site.Menus.main }}
						{{ if not .HasChildren }}
						<li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
						{{ end }}
						{{ end }}
					</ul>
				</div>

				<div class="col-md-6 col-lg-3 col-sm-6 text-center text-sm-left">
					<div class="footer-widget horario">
						<h4 class="mb-4">Hours</h4>
						<ul class="pl-0 list-unstyled mb-5">

							<li class="d-lg-flex"><strong>Otago:</strong></li>
							<li class="d-lg-flex justify-content-between">Dunedin<span>08:00-18:00</span></li>

						</ul>
						<h4 class="mb-4">Find Us</h4>
						<!-- {{ .Site.Params.footer.address }}<br> -->
						<ul class="footer-links">
							<li><a href="https://www.google.com/maps/place/Dunedin,+New+Zealand/@43.45958,-88.5579274,3z/data=!4m5!3m4!1s0xa82be4e00f5f513d:0x500ef8684799941!8m2!3d-45.8795455!4d170.5005957" target="_blank">Dunedin</a></li>
						</ul>
						<strong>Phone number : </strong> <a href="tel:{{ .Site.Params.mobile }}">{{ .Site.Params.mobile }}</a> <br>
						<strong>Email : </strong> <a href="mailto:{{ .Site.Params.mail }}">{{ .Site.Params.mail }}</a>

						{{  range .Site.Params.Share }}
						<li class="list-inline-item">
							<a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a>
						</li>
					{{ end }}

					</div>
				</div>

			<!--	<div class="col-lg-3 col-md-12 offset-lg-1">
					<div class="mt-5 mt-lg-0 text-center text-md-left">
						<h4 class="mb-4 text-white">Horario</h4>
						<ul class="pl-0 list-unstyled mb-5 text-white">
							{{ range .Site.Params.footer.openingHour }}
							<li class="">{{ .day }} <span>{{ .time }}</span></li>
							{{ end }}
						</ul> -->

						<!-- {{ with .Site.Params.footer.subscribe}} <h4 class="mb-4 text-white">{{ . }}</h4> {{ end }}
						{{ with .Site.Params.footer.subscribe_content}} <p class="text-white mb-4">{{ . }}</p> {{ end }}
						<div id="mc_embed_signup">
							<form action="{{ .Site.Params.mailchimp_form_action }}" method="post" id="mc-embedded-subscribe-form"
								name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								<div id="mc_embed_signup_scroll" class="position-relative">
									<input type="email" name="EMAIL" class="required email form-control subscribe" id="mce-EMAIL"
										placeholder="Tu Email">
									<button class="btn-subscribe" type="submit" name="subscribe" id="mc-embedded-subscribe-">
										<i class="ti-arrow-right"></i>
									</button>
									<div style="position: absolute; left: -5000px;" aria-hidden="true">
										<input type="text" name="{{ .Site.Params.mailchimp_form_name }}" tabindex="-1">
									</div>
								</div>
							</form>
						</div> -->
					</div>
				</div>
			</div>

	{{ "<!-- copyright -->" | safeHTML }}
	<div class="pt-4 pb-3 position-relative">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<p class="text text-center text-md-left">{{ .Site.Params.footer.copyright | markdownify }}</p>
				</div>
				<div class="col-lg-8 col-md-8">
					<ul class="list-inline text-center text-md-right">
						{{ range .Site.Menus.footer }}
						<li class="list-inline-item mx-lg-3 my-lg-0 mx-2 my-2">
							<a class="font-secondary text" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
						</li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
		{{ "<!-- back to top -->" | safeHTML }}
		<button class="back-to-top">
			<i class="ti-angle-up"></i>
		</button>
	</div>
</footer>
{{ "<!-- /footer -->" | safeHTML }}

{{"<!-- Essential Scripts -->" | safeHTML}}
{{"<!-- Google Map API -->" | safeHTML}}
{{ if .Site.Params.gmap.enable }}
<script type="text/javascript" src="{{ .Site.Params.gmap.gmap_api | absURL }}"></script>
{{ end }}
{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}
{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
{{ "<!-- google analitycs -->" | safeHTML }}
{{ with .Site.Params.google_analitycs_id }}
<script>
	(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o),
			m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
	ga('create', '{{ . }}', 'auto');
	ga('send', 'pageview');
</script>
{{ end }}
<!-- Snipcart public key -->
<div hidden id="snipcart" data-api-key="{{ .Site.Params.snipcartAPI }}">
	<billing section="bottom">
		<fieldset class="snipcart-form__set">
			<div class="snipcart-form__field">
				<snipcart-label class="snipcart__font--tiny" for="phone">Número de Teléfono</snipcart-label>
				<snipcart-input name="phone"></snipcart-input>
			</div>
			<div class="snipcart-form__field-checkbox">
				<snipcart-checkbox name="subscribeToNewsletter"></snipcart-checkbox>
				<snipcart-label class="snipcart__font--tiny snipcart-form__label--checkbox" for="subscribeToNewsletter">Darme de alta en la newsletter</snipcart-label>
			</div>
		</fieldset>
	</billing>
</div>

<script src="https://cdn.snipcart.com/themes/v3.0.17/default/snipcart.js"></script>

<!-- Snipcart locales -->
<script>
  document.addEventListener('snipcart.ready'), () {
    Snipcart.api.session.setLanguage('es');
  });
</script>




</body>

</html>
